/*전체적인 설정 부분 */
body {
    background-color: #006C61;
}
header{
    color: #ffeecb;
    font-family: "Jua", serif;
}
footer {color: #ffeecb;}

/*개별 설정 부분*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Jua", serif;
}

.section1 img {
    margin-top: 50px;
    width: 1400px;
    border-radius: 20px;
}
.section2 {
    margin: 2%;
    width: 100%;
    color: #ffeecb;
    text-align: center;
    font-size: 35px;
}
.content1 {
    line-height: 1.8;
}
.content2 {
    line-height: 1.8;
}

 /*모바일용*/
 @media (max-width:600px) {
    .header1 {
        font-size: 40px;
    }
    .section1 img {
        margin-top: 100px;
        width: 380px;
    }
    .section2 {
        width: 380px;
        font-size: medium;
    }
    .content1 {
        margin-top: 90px;
        line-height: 2;
    }
    .content2 {
        margin-top: 30px;
        line-height: 2;
        margin-bottom: 170px;
    }
 }